.instagram-embed-container {
    width: 320px;
    height: 534px;
    display: inline-block;
}

.instagram-media {
    background:#FFF;
    border:0;
    border-radius:3px;
    box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15);
    margin: 1px;
    max-width:540px;
    min-width:320px;
    padding:0;
    width:99.375%;
    width:-webkit-calc(100% - 2px);
    width:calc(100% - 2px);
}

.div1 {
    padding:16px;
}

.link1 {
    background:#FFFFFF;
    line-height:0;
    padding:0 0;
    text-align:center;
    text-decoration:none;
    width:100%;
}

.div8 {
    display:block;
    height:50px;
    margin:0 auto 12px;
    width:50px;
}

.div9 {
    padding-top: 8px;
}

.div10 {
    color:#3897f0;
    font-family:Arial,sans-serif;
    font-size:14px;
    font-style:normal;
    font-weight:550;
    line-height:18px;
}

/* tablet and desktop */
@media screen and (min-width: 760px) {
    .instagram-embed-container {
        width: 540px;
        height: 760px;
    }
}
