@import "../../../styles/colors.scss";

.content {
    background-color: gray;
}

.featured {
    width: 320px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.featuredCard {
    display: inline-flex;
    flex-direction: column;

    .tooltipContainer {
        display: contents;
        
        .frontFace {
            margin-top: 5px;
        }
    }
}

.description {
    margin: 30px 0;
    border-radius: 5px;
    padding: 0 10px;
    color: black;
    vertical-align: top;
}

.playmat {
    margin: 0 auto;
    padding: 30px 0;
    text-align: center;
}

.deck,
.sideboard {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 320px;
    width: 100%;
    margin: 0 auto;
}

.overlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    background-color: rgba(0,0,0,0.6);
}

.cardContainer {
    position: relative;
    height: 44px;
    overflow-y: visible;
    text-align: center;

    &:hover .card {
        z-index: 3;
    }

    &:hover .tooltipContainer {
        display: block;
        z-index: 4;

        &.left {
            flex-direction: row-reverse;
        }
    }

    &:hover ~ .overlay {
        display: block;
        z-index: 2;
    }
}

.card {
    position: relative;
    width: 250px;
    margin: 0 auto;
    z-index: 1;
}

.cardSpacer {
    display: none;
    width: 250px;
    margin: 0 5px;
}

.tooltipContainer {
    position: absolute;
    display: none;
    top: 350px;
    pointer-events: none;
    width: 100%;
    text-align: center;
}

.tooltip {
    display: inline-block;
    position: relative;
    width: 300px;
    background-color: rgba(0,0,0,0.9);
    border-radius: 5px;
    padding: 0 10px;
    margin: 0 auto 5px;
    color: white;
    pointer-events: all;
}

.manaCost {
    float: right;
}

.oracleText {
    white-space: pre-wrap;
}

.flavorText {
    font-style: italic;
}

.tooltipCard {
    width: 250px;
    margin: 0 5px;
    display: none;
}

.sideboard.commander,
.sideboard.oathbreaker {
    display: none;
}

.frontFace {
    display: inline-flex;
    flex-direction: row;
    text-align: left;
}

.backFace {
    display: none;
    flex-direction: row;
    text-align: left;
}

.howToPlay,
.sideboardingGuide {
    margin: 30px 0;
    height: 250px;
    text-align: center;
}

/* tablet */
@media screen and (min-width: 760px) {
    .featured.commander {
        width: 590px;

        .card {
            width: 250px;
            height: 354px;
        }
    }

    .featured.oathbreaker {
        width: 735px;
        flex-direction: row;

        .tooltipContainer {
            font-size: 12px;

            .tooltip {
                width: 180px;
            }
        }
    }

    .featuredCard {
        flex-direction: row;

        .tooltipContainer {
            .frontFace {
                margin-top: unset;
                margin-left: 5px;
            }
        }
    }
    
    .playmat {
        width: 740px;
    }

    .deck {
        width: 480px;
        height: 500px;
    }

    .deck.yorion {
        height: 680px;
    }

    .deck.commander,
    .deck.oathbreaker {
        height: 625px;
        width: 640px;
        padding-bottom: 200px;
    }

    .deck.oathbreaker {
        height: 375px;
    }

    .sideboard {
        width: 170px;

        & .cardContainer:nth-of-type(2n) {
            margin-left: 50px;
        }

        & .cardContainer:nth-of-type(2n+1) {
            margin-left: 0px;

            .tooltipContainer {
                right: 50px;
            }
        }
    }

    .cardContainer {
        height: 25px;
        text-align: left;
    }

    .card,
    .tooltipCard,
    .cardSpacer {
        width: 150px;
        height: 213px;
    }

    .card {
        margin: 0 5px;
    }

    .cardSpacer {
        display: inline-block;
    }

    .tooltipContainer {
        top: 0px;
        text-align: left;
        width: unset;

        &.left {
            right: 0;
            
            .frontFace,
            .backFace {
                flex-direction: row-reverse;
            }
        }
    }

    .tooltip {
        width: 240px;
    }

    .backFace {
        display: inline-flex;

        .tooltipCard {
            display: inline-block;
        }
    }
}

/* small desktop */
@media screen and (min-width: 1100px) {
    .playmat {
        width: 1080px;
    }

    .featured.oathbreaker {
        width: 1075px;

        .tooltipContainer {
            font-size: unset;

            .tooltip {
                width: 320px;
            }
        }
    }

    .featuredCard{
        .tooltipContainer {
            font-size: unset;
        }

        .tooltip {
            width: 300px;
        }
    }

    .deck {
        width: 720px;
        height: 450px;
    }

    .deck.yorion {
        height: 600px;
    }

    .deck.commander,
    .deck.oathbreaker {
        height: 625px;
        width: 950px;
    }

    .deck.oathbreaker {
        height: 400px;
    }

    .sideboard {
        width: 320px;

        & .cardContainer:nth-of-type(2n) {
            margin-left: 100px;
        }
    }

    .cardContainer {
        height: 30px;
        text-align: center;
    }

    .card,
    .tooltipCard,
    .cardSpacer {
        width: 180px;
        height: 255px;
    }

    .tooltip {
        vertical-align: top;
    }

    .tooltipCard {
        display: inline-block;
    }

    .tooltipContainer {

        &.left {
            .tooltip {
                margin-right: 15px;
            }
        }
    }
}

/* medium desktop */
@media screen and (min-width: 1180px) {
    .playmat {
        width: 1160px;
    }

    .featured.oathbreaker {
        width: 1140px;

        .tooltipContainer {
            .tooltip {
                width: 280px;
            }
        }
    }

    .deck {
        width: 770px;
        height: 880px;
    }

    .deck.yorion {
        height: 1200px;
    }

    .deck.commander,
    .deck.oathbreaker {
        height: 1100px;
        width: 1050px;
        padding-bottom: 310px;
    }

    .deck.oathbreaker {
        height: 660px;
    }

    .sideboard {
        width: 350px;
    }

    .cardContainer {
        height: 44px;
    }

    .tooltip {
        width: 300px;
    }

    .card,
    .tooltipCard,
    .cardSpacer {
        width: 250px;
        height: 354px;
    }

    .tooltipContainer {
        &.left {
            .tooltip {
                margin-right: 0;
            }
        }
    }
}

/* large desktop */
@media screen and (min-width: 1460px) {
    .playmat {
        width: 1440px;
    }

    .featured.oathbreaker {
        width: 1220px;

        .tooltipContainer {
            .tooltip {
                width: 320px;
            }
        }
    }

    .deck {
        width: 1020px;
        height: 660px;
    }

    .deck.yorion {
        height: 880px;
    }

    .deck.commander,
    .deck.oathbreaker {
        height: 880px;
        width: 1300px;
    }

    .deck.oathbreaker {
        height: 540px;
    }

    .sideboard {
        width: 370px;
    }

    .tooltipContainer {

        &.left {
            .tooltip {
                margin-right: 5px;
            }
        }
    }
}
