.section {
    padding: 40px 20px 0;
}

.sectionContent {
    margin: 0 auto;
    max-width: 1000px;
}

.section:nth-of-type(2n) {
    background-color: gainsboro;
}

/* tablet and desktop */
@media screen and (min-width: 760px) {
    .section {
        padding-bottom: 20px;
    }
}
