@import "../../../styles/colors.scss";

.recipe {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 30px;
    max-width: 1060px;
}

.header {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    color: $white;
    background-color: $deep-cerulean;

    span {
        display: inline-block;
        border-bottom: 1px dotted $white;
        margin-bottom: 10px;
    }

    a {
        display: inline-block;
        margin-bottom: 10px;

        &:visited {
            color: $white;
        }
    }
}

.section.header {
    text-transform: capitalize;
}

.title {
    margin-top: 0;
    text-align: center;
}

.timing {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.video {
    display: none;
    margin: 0 30px;
    max-height: 337.5px;
    background-color: $black;
}

.ingredients {
    width: calc(100% - 10px);
    margin-right: 20px;
    margin-top: 15px;
    border-radius: 10px;
    background-color: $alto;
}

main[data-theme="dark"] .ingredients {
    background-color: $mine-shaft;
}

.ingredients,
.directions {
    padding: 5px;

    h3 {
        margin-top: 0;
    }
}

.ingredient {
    line-height: 25px;
    border-bottom: 1px dotted $black;
    list-style-type: none;
    cursor: pointer;

    &:hover {
        border-bottom: 1px solid $deep-cerulean;
    }
}

main[data-theme="dark"] .ingredient {
    border-bottom: 1px dotted $mercury;

    &:hover {
        border-bottom: 1px solid $deep-cerulean;
    }
}

span.ingredientQuantity {
    margin-right: 3px;
    font-weight: bold;
}

input.ingredientQuantity {
    width: 50px;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    -moz-appearance: textfield;
}

.stepNumber {
    position: absolute;
    top: 5px;
    left: -60px;
    width: 50px;
    font-size: 40px;
    font-weight: bold;
    color: $malibu;
    text-align: right;
}

.stepNumber.complete {
    color: $alto;
}

.step {
    position: relative;
    min-height: 40px;
    margin: 0 10px 0 40px;
    padding: 10px 0;
    border-top: 1px dotted $black;
    list-style-type: none;
    cursor: pointer;

    &:first-of-type {
        margin-top: 20px;
        border-top: none;
    }
}

main[data-theme="dark"] .step {
    border-top: 1px dotted $mercury;
}

.step.complete {
    color: $gray;
    text-decoration: line-through;
}

.relatedRecipes.prev {
    float: left;
}

.relatedRecipes.next {
    float: right;
}

/* tablet and desktop */
@media screen and (min-width: 760px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
    }
    
    .details {
        max-width: 250px;
        display: inline-block;
    }

    .video {
        display: inherit;
    }

    .bodyContent {
        display: flex;
        flex-direction: row;
        margin: 0 20px;
    }

    .ingredients {
        min-width: 250px;
        width: 250px;
    }
}
