@import "../../styles/colors.scss";

.content {
    padding: 20px 0;
}

.heading {
    text-align: center;
}

.decks {
    background-color: white;
    width: 300px;
    padding: 5px;
    margin: 0 auto;
    border-radius: 5px;

    h2:first-of-type {
        margin-top: 0;
    }
}

main[data-theme="light"] .content {
    background-color: $alto;
}

main[data-theme="dark"] .decks {
    background-color: $mine-shaft;
}

.flair {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;

    img {
        height: 60px;
        width: 60px;
        margin-left: -5px;
        margin-top: -5px;
    }
}

.deck {
    position: relative;
    list-style: none;
    display: block;
}

.deckColors {
    display: none;
    float: right;
    position: absolute;
    top: 0;
    right: 0;
}

.white,
.blue,
.black,
.red,
.green {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 2px;
    border: 1px solid black;
}

.white {
    background-color: white;
}

.blue {
    background-color: blue;
}

.black {
    background-color: black;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

/* tablet & up */
@media screen and (min-width: 760px) {
    .decks {
        width: 740px;
    }

    .deckColors {
        display: inline;
    }
}
