.content {
    background-color: gray;
    padding: 20px 0;
}

.heading {
    text-align: center;
}

.decks {
    background-color: white;
    width: 300px;
    padding: 5px;
    margin: 0 auto;
    border-radius: 5px;

    h2:first-of-type {
        margin-top: 0;
    }
}

.flair {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;

    img {
        height: 60px;
        width: 60px;
        margin-left: -5px;
        margin-top: -5px;
    }
}

.deck {
    list-style: none;
}

/* tablet & up */
@media screen and (min-width: 760px) {
    .decks {
        width: 740px;
    }
}
