@import "../../styles/colors";
@import "../../styles/icons";

.navigation {
    position: relative;
    z-index: 1000000;
}

.spacer {
    margin-top: 50px;
}

.hero {
    height: 100vh;
    width: 100%;
    background: url("../../images/bg.jpg");
    background-position: center;
    background-size: 200% 100%;
}

.hero::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    margin-top: -40px;
    @include my-logo($icon-color: $white, $width: 216, $height: 216);
    background-repeat: no-repeat;
    background-position: center;
    opacity:0.75;
}

.hero::after {
    content: "Scroll down to enter";
    position: absolute;
    bottom: 80px;
    width: 100%;
    text-align: center;
    color: $white;
}

.slideshow {
    display: none;
    width: 100%;
    height: 100vh;
}

.image1,
.image2 {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
}

.image1 {
    background: url("../../images/climbingbw.jpg");
    background-position: -1100px -175px;
    opacity: 0.6;
}

.image2 {
    background: url("../../images/seatedbw.jpg");
    background-position: -550px -80px;
    opacity: 0;
}

@keyframes cycleOne {
    0% { opacity: 0.6; }
    40% { opacity: 0.6; }
    50% { opacity: 0; }
    90% { opacity: 0; }
    100% { opacity: 0.6; }
}

@keyframes cycleTwo {
    0% { opacity: 0; }
    40% { opacity: 0; }
    50% { opacity: 0.6; }
    90% { opacity: 0.6; }
    100% { opacity: 0; }
}

.navBar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background: url("../../images/bg.jpg");
    background-position: top;
    background-size: 100% auto;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    animation: fadein 0.5s;
}

.linkHome {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 0;
    font-size: 0;
    margin-left: 10px;
    @include my-logo($icon-color: $white, $width: 36, $height: 36);
    background-repeat: no-repeat;
    background-position: left;
    animation: fadein 1.5s;
}

.linkHome:hover {
    cursor: pointer;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.navItem {
    display: none;
    margin: 15px 5px;
    color: $white;
    text-transform: capitalize;
    animation: fadein 1.5s;
    z-index: 1000001;
}

.navItem.selected {
    text-decoration: underline;
    animation: fadein 1s;
}

.navItem:hover {
    cursor: pointer;
}

.socialLinks.sticky {
    width: 205px;
    border-radius: 0 0 0 16px;
    padding-left: 5px;
    position: fixed;
    top: 0;
    right: 0;
}

.socialLinks {
    text-align: right;
    color: $white;
    z-index: 1000003;
}

.socialIcon {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 10px 5px;
    line-height: 0;
    color: transparent;
}

.socialIcon:last-child {
    margin-right: 10px;
}

.socialIcon:hover {
    cursor: pointer;
}

.instagram.white {
    @include instagram($white);
    border-radius: 5px;
}

.instagram.black {
    @include instagram($black);
    border-radius: 5px;
}

.instagram.white:hover {
    @include instagram(
        $icon-color: $white,
        $background: radial-gradient(circle at 30% 107%, $picasso 0%, $picasso 5%, $sunset-orange 45%, $cerise 60%, $royal-blue 90%),
        $background-color: $white
    );
    border-radius: 8px;
}

.linkedIn {
    @include linkedin($icon-color: $white);
    border-radius: 5px;
}

.linkedIn:hover {
    @include linkedin($icon-color: $deep-cerulean, $background-color: $white);
}

.twitter {
    @include twitter($icon-color: $white);
}

.twitter:hover {
    @include twitter($icon-color: $dodger-blue);
}

.github {
    @include github($icon-color: $white, $width: 30, $height: 30);
}

.github:hover {
    @include github($icon-color: $black, $width: 30, $height: 30, $background-color: $white);
    border-radius: 15px;
}

.facebook {
    @include facebook($icon-color: $white);
}

.facebook:hover {
    @include facebook($icon-color: $san-marino);
}

/* tablet and desktop */
@media screen and (min-width: 760px) {
    .hero {
        height: auto;
    }

    .hero::before {
        opacity: 1;
    }

    .slideshow {
        display: block;
    }

    .image1,
    .image2 {
        background-position: center;
    }

    .image1 {
        animation: cycleOne 20s linear infinite;
    }

    .image2 {
        animation: cycleTwo 20s linear infinite;
    }

    .hero::after {
        display: none;
    }

    .navItem {
        display: initial;
    }
}
