@import "../../styles/colors";
@import "../../styles/icons";

.navigation {
    position: relative;
}

.spacer {
    margin-top: 50px;
}

.navBar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: $mine-shaft;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    z-index: 1000000;
}

.navContainer {
    width: calc(100% - 50px);
}

.pageNav {
    display: block;
    text-align: center;
    margin: 13px 50px 0;
    padding-bottom: 17px;
    height: 20px;
}

.siteNav {
    top: 45px;
    left: -50px;
    width: 100px;
    position: fixed;
    margin: 5px 30px;
    padding: 10px 0;
    z-index: 1000003;
}

.navBar.expanded .siteNavBackground {
    background-color: $mine-shaft;
    width: 120px;
    height: 135px;
    margin-left: -50px;
    border-bottom-right-radius: 20px;
}

.siteNavContents {
    position: relative;
    color: $white;
    display: flex;
    flex-direction: column;
}

.siteNav.collapsed {
    display: none;
}

.siteNavDescriptor {
    display: none;
}

.link {
    color: $white;
    text-decoration: none;
    margin-left: 25px;
}

.link::before {
    content: "●";
    padding-right: 5px;
}

.link:hover {
    cursor: pointer;
}

.link:visited {
    color: $white;
}

.logoS,
.logoC {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 0;
    font-size: 0;
    margin-left: 10px;
}

.logo {
    position: relative;
    z-index: 1000003;
}

.logo:hover {
    cursor: pointer;
}

.logoC {
    @include my-logo-c($icon-color: $white, $width: 36, $height: 36);
    background-repeat: no-repeat;
    background-position: left;
}

.logoS {
    @include my-logo-s($icon-color: $white, $width: 36, $height: 36);
    background-repeat: no-repeat;
    background-position: left;
    top: 0px;
}

.logoS.expanded {
    @include my-logo-s($icon-color: $white, $width: 36, $height: 36);
    background-repeat: no-repeat;
    background-position: left;
    animation: expandLogo 0.25s;
    top: 20px;
}

.logo.sticky {
    position: fixed;
    top: 0;
    left: 0;
}

@keyframes expandLogo {
    0% {
        top: 0px;
    }
    100% {
        top: 20px;
    }
}

.navItem {
    display: none;
    margin: 15px 5px;
    color: $white;
    text-transform: capitalize;
}

.navItem.selected {
    text-decoration: underline;
    animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.navItem:hover {
    cursor: pointer;
}

.socialLinks.sticky {
    width: 205px;
    border-radius: 0 0 0 16px;
    padding-left: 5px;
    position: fixed;
    top: 0;
    right: 0;
}

.socialLinks {
    text-align: right;
    color: $white;
    z-index: 1000003;
}

.socialIcon {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 10px 5px;
    line-height: 0;
    color: transparent;
}

.socialIcon:last-child {
    margin-right: 10px;
}

.socialIcon:hover {
    cursor: pointer;
}

.instagram.white {
    @include instagram($white);
    border-radius: 5px;
}

.instagram.black {
    @include instagram($black);
    border-radius: 5px;
}

main[data-theme="dark"] .instagram.black {
    @include instagram($mercury);
}

.instagram.white:hover {
    @include instagram(
        $icon-color: $white,
        $background: radial-gradient(circle at 30% 107%, $picasso 0%, $picasso 5%, $sunset-orange 45%, $cerise 60%, $royal-blue 90%),
        $background-color: $white
    );
    border-radius: 8px;
}

.linkedIn {
    @include linkedin($icon-color: $white);
    border-radius: 5px;
}

.linkedIn:hover {
    @include linkedin($icon-color: $deep-cerulean, $background-color: $white);
}

.twitter {
    @include twitter($icon-color: $white);
}

.twitter:hover {
    @include twitter($icon-color: $dodger-blue);
}

.github {
    @include github($icon-color: $white, $width: 30, $height: 30);
}

.github:hover {
    @include github($icon-color: $black, $width: 30, $height: 30, $background-color: $white);
    border-radius: 15px;
}

.facebook {
    @include facebook($icon-color: $white);
}

.facebook:hover {
    @include facebook($icon-color: $san-marino);
}

/* tablet and desktop */
@media screen and (min-width: 760px) {
    .navItem {
        display: initial;

        &::after {
            content: "";
            display: inline-block;
        }
    }

    .siteNav {
        margin: 5px 50px;
        text-align: left;
    }

    .siteNavDescriptor {
        display: initial;
    }

    .link {
        margin-left: 5px;
    }
}
