@import "../../../styles/colors";

.puzzle {
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
    padding-top: 30px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.description {
    font-size: 14px;
    font-style: italic;
    margin: 20px 20px 0 20px;
}

.list {
    text-align: left;

    a {
        color: $black;
        text-decoration: none;
    
        &:visited {
          color: $gray;
        }

        &:hover {
            border-bottom: 1px dotted $atlantis;
        }
      }
}

main[data-theme="dark"] .list {
    a {
        color: $white;
    
        &:visited {
          color: $gray;
        }
      }
}

.video {
    width: 100%;
    max-width: 600px;
}

.pdf {
    width: 100%;
    min-height: calc(100vh - 300px);
}

.fallback {
    margin: 0 10px;
}

.answer {
    margin-left: 20px;
    font-weight: bold;
}

.answer:hover {
    cursor: pointer;
}

.solved {
    background: $atlantis;
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 4px;
    text-align: center;
    font-size: 12px;
    letter-spacing: 1px;
    color: $white;
    border-radius: 10px;
    box-shadow: 0 0 3px rgba(0,0,0,.3);
    z-index: 1;
}

/* tablet and desktop */
@media screen and (min-width: 760px) {
    .solved {
        width: 260px;
        background: $atlantis;
        position: fixed;
        top: 95px;
        right: -60px;
        text-align: center;
        font-size: 16px;
        line-height: 50px;
        letter-spacing: 1px;
        color: $white;
        transform: rotate(45deg);
        border-radius: 0;
        box-shadow: 0 0 3px rgba(0,0,0,.3);
        z-index: -1;
    }

    .title {
        font-size: 30px;
    }

    .description {
        font-size: 20px;
        margin: 20px 0;
    }
}
