@import "../../styles/colors";

.answerbox {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 242px;
    min-height: 50px;
    background-color: $white;
    border: 1px solid $black;
}

.input {
    margin: 0 5px 10px 5px;
}

.pastAnswers {
    margin: 0;
    padding: 10px 5px;
    max-height: 200px;
    overflow-y: scroll;
}

.answer {
    display: block;
    margin-bottom: 1px;
}

.correct {
    background-color: $atlantis;
}

.hint {
    background-color: $picton-blue;
}

.intermediate {
    background-color: $confetti;
}

.incorrect {
    background-color: $cinnabar;
}

/* IE11-specific styles */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .answerbox {
        bottom: 50px;
        right: auto;
    }
}
