@import "../../styles/colors";

.spacer {
    margin-top: 50px;
}

.footer {
    position: absolute;
    bottom: -50px;
    background-color: $mine-shaft;
    height: 50px;
    width: 100%;
    text-align: center;
    color: $white;
    font-size: 14px;
}

.copyrightNotice {
    display: inline-block;
}

/* IE11-specific styles */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .spacer {
        margin-top: 0px;
    }

    .footer {
        position: inherit;
    }
}
