@import "./styles/fonts";
@import "./styles/colors";

body {
  margin: 0;
  padding: 0;
  font-family: $lato;
}

.page {
  position: relative;
  min-height: calc(100vh - 100px);
}

main[data-theme="light"] {
  background-color: white;
}

main[data-theme="dark"] {
  background-color: $cod-gray;
  color: $mercury;
}
