@import "../../styles/colors";

.section {
    margin: 40px auto 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.controls {
    width: 280px;
    margin: 20px;
    text-align: center;
    padding-top: 12px;
}

.skills {
    background-color: $sunset-orange;
}

.interests {
    background-color: $atlantis;
}

.certifications {
    background-color: $dodger-blue;
}

.selector {
    font-size: 36px;
    color: $gray;
    background-color: transparent;
}

.selector:hover {
    cursor: pointer;
}

.selector.skills.enabled {
    color: $sunset-orange;
    background-color: transparent;
}

.selector.interests.enabled {
    color: $atlantis;
    background-color: transparent;
}

.selector.certifications.enabled {
    color: $dodger-blue;
    background-color: transparent;
}

.logo {
    height: 100px;
    float: left;
    margin: 25px;
}

.details {
    display: flex;
    flex: 1;
    flex-direction: column;
    float: right;
    max-width: 150px;
}

.title,
.tenure,
.experience {
    margin: 10px auto 0;
    text-align: center;
    color: $black;
}

.title {
    font-weight: 900;
}

.skill {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-content: center;
    width: 150px;
    padding: 20px 0;
}

/* IE11-specific styles */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .newrelic .tenure {
        margin-top: 20px;
    }

    .selector.skills,
    .selector.interests,
    .selector.certifications {
        background-color: $white;
    }
}

/* tablet and desktop */
@media screen and (min-width: 760px) {
    .module {
        height: 177px;
        clear: both;
    }
    .module:first-child {
        border-bottom: 1px solid $alto;
    }

    .header {
        float: left;
        font-size: 64px;
        font-weight: 900;
        color: $alto;
    }

    .logo {
        float: none;
        margin: 0 auto;
    }
}
