@import "../../styles/colors";

.content {
    display: flex;
    flex-direction: column;
    text-align: center;
    vertical-align: middle;
}

.content > *:not(:first-child) {
    margin-top: 40px;
}

.sadFace {
    font-size: 200px;
}

.errorCode {
    font-size: 36px;
    color: $alto;
}

.linkHome {
    text-decoration: none;
}